%h1 Listing items

= form_with(url: items_path, method: "get") do
  = label_tag(:q, "Search for:")
  = text_field_tag(:q)
  = submit_tag("Search")

%table
  %thead
    %tr
      %th Icon
      %th Name
      %th Type
      %th Subtype
      %th Npc price

  %tbody
    - @items.each do |item|
      %tr
        %td
          %img{ src: item.icon }
        %td= link_to item.name_with_slots, item
        %td= item.nice_item_type
        %td= item.nice_item_subtype
        %td= item.npc_price

%br

= pagy_nav(@pagy).html_safe
