%p#notice= notice

%p
  %b Name:
  = @item.name_with_slots

%p
  %b Uid:
  = @item.uid
%p
  %b Type:
  = @item.nice_item_type
%p
  %b Subtype:
  = @item.nice_item_subtype
%p
  %b Npc price:
  = @item.npc_price
%p
  %b Slots:
  = @item.slots
%p
  %b Icon:
  %img{ src: @item.icon }

%p
  %b 7-Day Avg Avg Selling Price
  = number_with_delimiter @item.avg_best_selling_price(24*7)
%p
  %b 7-Day Avg Mean Selling Price
  = number_with_delimiter @item.mean_best_selling_price(24*7)


%h2 Price Over Time
%table
  %tr
    %th Date
    %th Best Price
    %th Availability
  - (0..10).to_a.each do |i|
    - day_start = i.days.ago.beginning_of_day
    %tr
      %td= day_start.strftime("%B %-d, %Y")
      %td= number_with_delimiter @item.best_selling_price_in(day_start, day_start.end_of_day)
      %td= number_to_percentage @item.availability(day_start, day_start.end_of_day), precision: 0


%h2 Selling
- @active_items = @item.shop_items.active.vending.order(:price)
- if @active_items.length == 0
  %p There are no active shops selling this item.
- else
  %table
    %thead
      %tr
        %td
        %td Shop Name
        %td Price
        %td Quantity
        %td Vendor
        %td Location

    - @active_items.each do |shop_item|
      %tr
        %td
          %img{ src: shop_item.item.icon }
        %td= link_to shop_item.shop.title, shop_path(shop_item.shop)
        %td= number_with_delimiter shop_item.price
        %td= number_with_delimiter shop_item.quantity
        %td= shop_item.shop.username
        %td= "#{shop_item.shop.location_map} (#{shop_item.shop.location_x}, #{shop_item.shop.location_y})"



%h2 Buying
- @active_items = @item.shop_items.active.buying.order(price: :desc)
- if @active_items.length == 0
  %p There are no active shops buying this item.
- else
  %table
    %thead
      %tr
        %td
        %td Shop Name
        %td Price
        %td Quantity
        %td Vendor
        %td Location

    - @active_items.each do |shop_item|
      %tr
        %td
          %img{ src: shop_item.item.icon }
        %td= link_to shop_item.shop.title, shop_path(shop_item.shop)
        %td= number_with_delimiter shop_item.price
        %td= number_with_delimiter shop_item.quantity
        %td= shop_item.shop.username
        %td= "#{shop_item.shop.location_map} (#{shop_item.shop.location_x}, #{shop_item.shop.location_y})"

= link_to 'Back', items_path
