%p#notice= notice

%p
  %b Name:
  = @item.name_with_slots

%p
  %b Uid:
  = @item.uid
%p
  %b Type:
  = @item.nice_item_type
%p
  %b Subtype:
  = @item.nice_item_subtype
%p
  %b Npc price:
  = number_with_delimiter @item.npc_price
%p
  %b Slots:
  = @item.slots
%p
  %b Icon:
  %img{ src: @item.icon }

%p
  %b 7-Day Avg Avg Selling Price
  = number_with_delimiter @item.avg_best_selling_price(24*7)
%p
  %b 7-Day Avg Mean Selling Price
  = number_with_delimiter @item.mean_best_selling_price(24*7)


%h2 Price Over Time
%table
  %tr
    %th Date
    %th Best Price
    %th Availability
  - (0..10).to_a.each do |i|
    - day_start = i.days.ago.beginning_of_day
    %tr
      %td= day_start.strftime("%B %-d, %Y")
      %td= number_with_delimiter @item.best_selling_price_in(day_start, day_start.end_of_day)
      %td= number_to_percentage @item.availability(day_start, day_start.end_of_day), precision: 0


%h2 Selling
- @active_items = @item.shop_items.active.vending.order(:price)
- if @active_items.length == 0
  %p There are no active shops selling this item.
- else
  %table
    %thead
      %tr
        %th
        %th Item
        %th Shop
        %th Price
        %th Quantity
        %th Vendor
        %th Location
        %th Cards

    - @active_items.each do |shop_item|
      %tr
        %td
          %img{ src: shop_item.item.icon }
        %td= shop_item.full_name
        %td= link_to shop_item.shop.title, shop_path(shop_item.shop)
        %td= number_with_delimiter shop_item.price
        %td= number_with_delimiter shop_item.quantity
        %td= link_to shop_item.shop.username, shop_item.shop
        %td= "#{shop_item.shop.location_map} (#{shop_item.shop.location_x}, #{shop_item.shop.location_y})"
        %td
          - if shop_item.cards && shop_item.cards.length > 0
            %ul
              - Item.where(uid: shop_item.cards).each do |card|
                %li= link_to card.name, item_path(card)

- if @item.card?
  %h2 Selling (Already slotted)
  - @active_slotted_items = ShopItem.active.vending.order(:price).where("? = ANY(cards)", @item.uid)
  - if @active_slotted_items.length == 0
    %p There are no active shops selling this card already slotted at this time
  - else
    %table
      %thead
        %tr
          %th
          %th Shop Name
          %th Price
          %th Quantity
          %th Vendor
          %th Location
          %th Cards
      - @active_slotted_items.each do |shop_item|
        %tr
          %td
            %img{ src: shop_item.item.icon }
          %td= link_to shop_item.shop.title, shop_item.shop
          %td= number_with_delimiter shop_item.price
          %td= number_with_delimiter shop_item.quantity
          %td= link_to shop_item.shop.username, shop_path(shop_item.shop)
          %td= "#{shop_item.shop.location_map} (#{shop_item.shop.location_x}, #{shop_item.shop.location_y})"
          %td
            - if shop_item.cards && shop_item.cards.length > 0
              %ul
                - Item.where(uid: shop_item.cards).each do |card|
                  %li= link_to card.name, item_path(card)

%h2 Recently Sold
- @recently_sold = ShopItem.sold.includes(:item).where(item_id: @item.id).limit(50).where('sold_at IS NOT NULL').order(sold_at: :desc)
- if @recently_sold.length == 0
  %p There are no recent sales of this item on the market.
- else
  %table
    %thead
      %tr
        %th
        %th Item
        %th Price
        %th Date Sold
    - @recently_sold.each do |shop_item|
      %tr
        %td
          %img{ src: shop_item.item.icon }
        %td= link_to shop_item.full_name, shop.item
        %td= number_with_delimiter shop_item.price
        %td= time_ago_in_words shop_item.sold_at





%h2 Buying
- @active_items = @item.shop_items.active.buying.order(price: :desc)
- if @active_items.length == 0
  %p There are no active shops buying this item.
- else
  %table
    %thead
      %tr
        %th
        %th Shop Name
        %th Price
        %th Quantity
        %th Vendor
        %th Location

    - @active_items.each do |shop_item|
      %tr
        %td
          %img{ src: shop_item.item.icon }
        %td= link_to shop_item.shop.title, shop_path(shop_item.shop)
        %td= number_with_delimiter shop_item.price
        %td= number_with_delimiter shop_item.quantity
        %td= link_to shop_item.shop.username, shop_item.shop
        %td= "#{shop_item.shop.location_map} (#{shop_item.shop.location_x}, #{shop_item.shop.location_y})"

= link_to 'Back', items_path
