!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title OriginRO Market Tracker for Ragnarok
    = csrf_meta_tags
    = csp_meta_tag
    %link{ href: asset_pack_path('application.css'), media: 'all', rel: 'stylesheet' }
    = javascript_pack_tag 'application'
  %body.bg-blue-100
    %nav.container.flex.justify-between.py-4.items-center
      %span.text-xl.font-bold OriginRO Market Tracker
      %ul.list-none
        %li.inline-block= link_to "Home", root_path, class: 'text-grey-700 underline hover:no-underline px-2'
        %li.inline-block= link_to "Shops", vending_shops_path, class: 'text-grey-700 underline hover:no-underline px-2'
        %li.inline-block= link_to "Items", items_path, class: 'text-grey-700 underline hover:no-underline px-2'
    .container
      = yield
