<!DOCTYPE html>
<html>
  <head>
    <title>OriginRO Market Tracker for Ragnarok</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <nav class='container group'>
      <h1 class='left'>OriginRO Market Tracker</h1>
      <ul class='list-style-none inline right'>
        <li><%= link_to "Vendors", vending_shops_path %></li>
        <li><%= link_to "Buyers", buying_shops_path %></li>
        <li><%= link_to "Items", items_path %></li>
        <li><%= link_to "Opportunities", opportunities_items_path %></li>
      </ul>
    </nav>

    <div class='container'>
      <%= yield %>
    </div>

  </body>
</html>
